header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../images/farine.jpg');
    background-size: cover;
    color: #fff;
    padding: 40px;
}

.freres{
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: space-around;


}

.freres >img:hover{
  transform: scale(1.2);
  transition: transform 1.5s;
  cursor: pointer;
}